.section-p1 {
  padding: 4rem 8rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col1 {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin-bottom: 2rem;
}
footer .col1 img {
  width: 38rem;
}

footer .logo-footer {
  width: 15rem !important;
  margin-top: -3rem;

  margin-bottom: 2.5rem;
}

footer h4 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
}

footer a {
  text-decoration: none;
  color: #222;
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
  margin-bottom: 1rem;
}

footer .follow {
  margin-top: 2rem;
}

footer .follow i {
  color: #465b52;
  padding-right: 0.4rem;
}

footer .follow .svg-inline--fa:hover,
footer a:hover {
  color: var(--color-button-hover);
  cursor: pointer;
}

footer .follow .svg-inline--fa {
  font-size: 2rem;
  margin-right: 1rem;
}

footer .install .row img {
  width: 19rem;
}

footer .install img {
  margin: 1rem 0 1.5rem 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

@media (max-width: 820px) {
  .section-p1 {
    padding: 2rem;
  }

  footer .col1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer .col1.install {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  footer .install .row img,
  footer .install img.payment {
    width: 50%;
  }
}