/* Hero styles */

#hero {
    background-image: url(/img/hero4.png);
    background-color: var(--background-hero-color);
    background-position: top 0 left 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
  
    width: 100%;
    padding: 0 8rem;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
#hero h4 {
  padding-bottom: .8rem;
}

#hero, #hero p {
  color: var(--color-font-navbar);
}

#hero p {
  padding-bottom: 1.5rem;
}

#hero button {
  background-image: url(/img/button.png);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;

  cursor: pointer;
  color:#ffff;

  border: 0;
  padding: 1.4rem 8rem 1.4rem 6.5rem;

  font-weight: 700;
  font-size: 1.6rem;
}

.cont {
  background-color: var(--background-navbar-color);
}
