@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  font-size: 62.5%; /*1 rem = 10px*/

  --hue: 640;

  --color-title: hsl(0, 0%, 13%);
  --color-paragraphy: hsl(calc(160 - var(--hue)), 15%, 32%);

  --background-navbar-color: hsl(calc(235 - var(--hue)), 45%, 92%);
  --color-font-navbar: hsl(0, 0%, 10%);

  --color-font-navbar-hover: hsl(calc(182 - var(--hue)), 88%, 27%);

  --background-alternative-rose: hsl(calc(353 - var(--hue)), 89%, 93%);

  --color-border: hsl(129, 36%, 85%);

  --color-button-hover: hsl(calc(176 - var(--hue)), 88%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'League Spartan', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-width: 300px;
}
/* General============================================ */
h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: var(--color-title);
}

h2 {
  font-size: 4.6rem;
  line-height: 5.4rem;
  color: var(--color-title);
}

h4 {
  font-size: 2rem;
  color: var(--color-title);
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: var(--color-paragraphy);
}

.section-p1 {
  padding: 4rem 8rem;
}

.section-m1 {
  margin: 4rem 0;
}

button.normal {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  color: #000;
  background-color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 200ms;
}

button.white {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1.1rem 1.8rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 200ms;
}

body {
  width: 100%;
}

/* Header start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background-color: var(--background-navbar-color);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.06);

  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 2rem;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-font-navbar);
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--color-font-navbar-hover);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  width: 30%;
  height: 0.2rem;
  background: var(--color-font-navbar-hover);
  position: absolute;
  bottom: -0.4rem;
  left: 2rem;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home page */

#hero {
  background-image: url(img/hero4.png);
  background-position: top 25% right 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 89.778vh;

  width: 100%;
  padding: 0 8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 1.5rem;
}

#hero h1 {
  color: var(--color-font-navbar-hover);
}

#hero p {
  padding-bottom: 1.5rem;
}

#hero button {
  background: url('img/button.png');
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;

  cursor: pointer;

  color: var(--color-font-navbar-hover);

  border: 0;
  padding: 1.4rem 8rem 1.4rem 6.5rem;

  font-weight: 700;
  font-size: 1.6rem;
}

.cont {
  background-color: var(--background-navbar-color);
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 18rem;
  text-align: center;
  padding: 2.5rem 1.5rem;
  box-shadow: 2rem 2rem 3.4rem rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-border);
  border-radius: 0.4rem;
  margin: 1.5rem 0;
}

#feature .fe-box:hover {
  box-shadow: 1rem 1rem 5.4rem rgba(70, 62, 221, 0.13);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 1rem;
}

#feature .fe-box h6 {
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  line-height: 1;
  border-radius: 0.4rem;
  color: var(--color-font-navbar-hover);
  background-color: var(--background-alternative-rose);
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 25rem;
  padding: 1rem 1.2rem;
  border: 1px solid var(--color-border);
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.05);
  margin: 1.5rem 0;
  transition: 0.3s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.1);
}

#product1 .pro img {
  width: 100%;
  border-radius: 2rem;
}

#product1 .pro .des {
  text-align: start;
  padding: 1rem 0;
  font-size: 1.5rem;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 1.2em;
}

#product1 .pro .des h5 {
  padding-top: 0.7rem;
  color: #1a1a1a;
  font-size: 1.6rem;
}

#product1 .pro .des .fa-star {
  font-size: 1.2rem;
  color: rgb(243, 181, 25);
  margin-top: 0.5rem;
}

#product1 .pro .des h4 {
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-button-hover);
}

#product1 .pro .cart {
  width: 4.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  border-radius: 4.4rem;
  background-color: #e8f6ea;
  background-size: 150%;
  color: var(--color-button-hover);
  padding: 1.2rem;
  border: 1px solid var(--color-border);
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;

  background-image: url(img/banner/b1.jpg);
  background-size: 100%;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 1.6rem;
}

#banner h2 {
  color: #fff;
  font-size: 3rem;
  padding: 1rem;
}

#banner h2 span {
  color: brown;
  font-size: 4rem;
}

#banner button:hover {
  background-color: var(--color-button-hover);
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background: url(img/banner/b17.jpg);
  height: 38vh;

  background-size: cover;

  width: 100%;
  padding: 3rem;
}

#sm-banner .banner-box2 {
  background-image: url(img/banner/b10.jpg);
  margin-top: 1rem;
  width: 100%;
}

#sm-banner h4 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

#sm-banner .banner-box:hover button {
  background-color: var(--color-button-hover);
  border: 1px solid var(--color-button-hover);
  color: #fff;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 8rem;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  background: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;

  background-size: cover;

  padding: 2rem;
  margin-bottom: 2rem;
}

#banner3 .banner-box2 {
  background: url(img/banner/b4.jpg);
  background-position: center;
}

#banner3 .banner-box3 {
  background: url(img/banner/b18.jpg);
  background-position: center;
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 2.2rem;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col1 {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin-bottom: 2rem;
}
footer .col1 img {
  width: 38rem;
}

footer .logo-footer {
  width: 15rem !important;
  margin-top: -3rem;

  margin-bottom: 2.5rem;
}

footer h4 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
}

footer a {
  text-decoration: none;
  color: #222;
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
  margin-bottom: 1rem;
}

footer .follow {
  margin-top: 2rem;
}

footer .follow i {
  color: #465b52;
  padding-right: 0.4rem;
}

footer .follow .svg-inline--fa:hover,
footer a:hover {
  color: var(--color-button-hover);
  cursor: pointer;
}

footer .follow .svg-inline--fa {
  font-size: 2rem;
  margin-right: 1rem;
}

footer .install .row img {
  width: 19rem;
}

footer .install img {
  margin: 1rem 0 1.5rem 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop page */
#page-header {
  background-image: url(img/banner/b1.jpg);
  width: 100%;
  height: 40vh;

  background-size: cover;

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1.4rem;
}

#page-header h2,
#page-header p {
  color: #fff;
}
#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: var(--color-button-hover);
  padding: 1.5rem 2rem;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
}

#pagination a i {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Single Product */

#prodetails {
  display: flex;
  margin-top: 2rem;
}

#prodetails .single-pro-img {
  width: 40%;
  margin-right: 5rem;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 3rem;
}

#prodetails .single-pro-details h4 {
  padding: 4rem 0 2rem 0;
}

#prodetails .single-pro-details h2 {
  font-size: 2.6rem;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

#prodetails .single-pro-details input {
  width: 5rem;
  height: 4.7rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  margin-right: 1rem;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: var(--color-button-hover);
  color: #fff;
}

#prodetails .single-pro-details span {
  line-height: 2.5rem;
  font-size: 1.6rem;
}

/* Blog Page */

#page-header.blog {
  background: url(img/banner/b19.jpg);
  background-size: cover;
}

#blog {
  padding: 15rem 15rem 0 15rem;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;

  position: relative;
  margin-bottom: 9rem;
}

#blog .blog-img {
  width: 50%;
  margin-right: 4rem;
}

#blog img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;

  margin-top: 1rem;
}

#blog .blog-details a::after {
  content: '';
  width: 5rem;
  height: 0.1rem;
  background-color: #000;
  position: absolute;
  top: 0.4rem;
  right: -6rem;
  transition: 0.3s;

  margin-top: 0.3rem;
}

#blog .blog-details a:hover {
  color: var(--color-button-hover);
}

#blog .blog-details a:hover::after {
  background-color: var(--color-button-hover);
}

#blog .blog-box h1 {
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 7rem;
  font-weight: 700;
  color: #c9cbce;

  z-index: -9;
}

#blog .blog-details p {
  margin-bottom: 1rem;
}

/* About Page */

#page-header.about {
  background-image: url(img/about/banner.png);
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 2rem;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 3rem auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

/* Contact Page */

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 1.2rem;
  text-transform: uppercase;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 2.6rem;
  line-height: 3.5rem;
  padding: 2rem 0;
}

#contact-details .details h3 {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

#contact-details .details li i {
  font-size: 1.4rem;
  padding-right: 2.2rem;
}

#contact-details .details li p {
  margin: 0;
  font-size: 1.4rem;
  margin-left: 1rem;
}

#contact-details .map {
  width: 55%;
  height: 40rem;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  padding: 8rem;
  border: 1px solid var(--color-border);
}

#form-details form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 1.2rem 1.5rem;
  outline: none;
  margin-bottom: 2rem;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: var(--color-button-hover);
}
#form-details .people div {
  padding-bottom: 2.5rem;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
  margin-right: 1.5rem;
}
#form-details .people div p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
#form-details .people div p span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}

/* Cart Page */
#cart {
  overflow: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 60%;
}

#cart table td:nth-child(1) {
  width: 10rem;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 15rem;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 25rem;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 10rem;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 7rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

#cart table thead {
  border: 1px solid var(--color-border);
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.8rem 0;
}

#cart table tbody tr td {
  padding-top: 1.5rem;
}

#cart table tbody td {
  font-size: 1.3rem;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cart-add #coupon {
  width: 50%;
  margin-bottom: 3rem;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 1.5rem;
}
#coupon input {
  padding: 1rem 2rem;
  outline: none;
  width: 60%;
  margin-right: 1rem;
  border: 1px solid var(--color-border);
}
#coupon button {
  background-color: var(--color-button-hover);
  color: #fff;
  padding: 1.2rem 2rem;
}
#subtotal {
  width: 50%;
  margin-bottom: 3rem;
  border: 1px solid var(--color-border);
  padding: 3rem;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}
#subtotal table td {
  width: 50%;
  border: 1px solid var(--color-border);
  padding: 1rem;
  font-size: 1.3rem;
}
#subtotal button {
  background-color: var(--color-button-hover);
  color: #fff;
  padding: 1.2rem 2rem;
}
/* Start media query ------------------ */

@media (max-width: 820px) {
  .section-p1 {
    padding: 4rem;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -30rem;
    height: 100vh;
    width: 30rem;

    background-color: #e3e6f3;
    padding: 8rem 0 0 1rem;

    transition: 300ms ease;
  }
  #navbar.active {
    right: 0rem;
    box-shadow: 0 4rem 6rem rgb(0, 0, 0.2);
  }
  #navbar li {
    margin-bottom: 2.5rem;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile #bar {
    color: #1a1a1a;
    font-size: 2.4rem;
    margin-left: 2.5rem;
    cursor: pointer;
  }
  #mobile a {
    color: #1a1a1a;
    font-size: 2.4rem;
  }
  #close {
    display: initial;
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #222;
    font-size: 2.4rem;
    padding: 1rem;
  }
  #lg-bab {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 8rem;
    background-position: top 30% right 30%;
    background-size: cover;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 1.5rem;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 1.5rem;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 25vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 2rem;
  }
  #banner3 {
    padding: 0 3.9rem;
  }
  #banner3 .banner-box {
    min-width: 28%;
  }
  /* Contact Page */
  #form-details {
    padding: 4rem;
  }
  #form-details form {
    width: 50%;
  }
}

@media (min-width: 448px) and (max-width: 929px) {
  #sm-banner .banner-box {
    min-width: 100%;
    height: 40vh;
    background-position: center;
  }
  #sm-banner .banner-box2 {
    margin-top: 2rem;
  }
  #banner3 {
    justify-content: space-between;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  /* Blog Page */

  #blog {
    padding: 10rem 2rem 0 2rem;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 3rem;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* Contact Page */
  #form-details {
    padding: 4rem;
  }
  #form-details form {
    width: 50%;
  }
}

@media (max-width: 447px) {
  section-p1 {
    padding: 2rem;
  }
  #header {
    padding: 1rem 3rem;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  #hero {
    height: 60vh;
    padding: 0 2rem;
    background-position: 55%;
    background-position-x: 80%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 14rem;
    margin: 0 0 1.4rem 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
    justify-content: center;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 40vh;
    background-position: center;
  }
  #sm-banner .banner-box2 {
    margin-top: 2rem;
  }
  #banner3 {
    justify-content: space-between;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  .install .payment {
    width: 100%;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  /* Single product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-img {
    width: 100%;
    margin-right: 5rem;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }

  /* Blog Page */

  #blog {
    padding: 10rem 2rem 0 2rem;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 3rem;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* About Page */

  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 2rem;
  }

  #about-app div {
    padding-left: 0px;
  }

  #about-app .video {
    width: 100%;
  }

  /* Contact Page */
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 3rem;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 1rem;
    padding: 3rem 1rem;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 3rem;
  }
  /* Cart Page */
  #cart-add {
    flex-direction: column;
  }
  #cart-add #coupon {
    width: 100%;
  }
  #subtotal{
    width: 100%;
    padding: 2rem;
  }
}
